.task {
  /* Sample  */
  display: flex;
  text-align: center;
  justify-content: center;
}

.taskbox{
  display: flex;

}
.circle{
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.btn{
  height: 20px;
  width: 20px;
}